<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SULastCheckTime</key>
	<date>2015-08-08T19:22:14Z</date>
	<key>defaultColumnCount</key>
	<integer>10</integer>
	<key>defaultRowCount</key>
	<integer>10</integer>
	<key>enableAcceleration</key>
	<true/>
	<key>globalHotkey</key>
	<dict>
		<key>keyCode</key>
		<integer>6</integer>
		<key>modifiers</key>
		<integer>768</integer>
	</dict>
	<key>kXMRegCode</key>
	<string>GAXAE-F9AWB-6SPXK-4K5ZQ-C5PYY-CCECM-V8AH2-BRY77-A9KQB-9FLG4-HW2ZS-LJECX-THQXN-DBWRV-TY5U7-RY</string>
	<key>kXMRegName</key>
	<string>Jonan Scheffler</string>
	<key>lastColumnCount</key>
	<integer>6</integer>
	<key>lastRowCount</key>
	<integer>6</integer>
	<key>shortcuts</key>
	<data>
	YnBsaXN0MDDUAQIDBAUIY2RUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABrxAQCQoVLC00PD1ERU1OVVZeX1UkbnVsbNILDA0OViRjbGFzc1pOUy5v
	YmplY3RzgA+mDxAREhMUgAKABYAHgAmAC4AN3RYXGBkaGxwdHh8gIQsiIyQlIyMmJygn
	KiYrXxASc2VsZWN0aW9uRW5kQ29sdW1uXxARc2VsZWN0aW9uU3RhcnRSb3dca2V5Q29t
	Ym9Db2RlV2VuYWJsZWRda2V5Q29tYm9GbGFnc18QFHNlbGVjdGlvblN0YXJ0Q29sdW1u
	W3NpemVDb2x1bW5zWnN1YmRpdmlkZWRXbmFtZUtleVZnbG9iYWxfEA9zZWxlY3Rpb25F
	bmRSb3dYc2l6ZVJvd3MQBBAAEBIJEAoIgAMIEAmABFRsZWZ00i4vMDNYJGNsYXNzZXNa
	JGNsYXNzbmFtZaIxMlhTaG9ydGN1dFhOU09iamVjdFhTaG9ydGN1dN0WFxgZGhscHR4f
	ICELKiM1JSM3Jic5JyomKxATCRAFCIAGCIAEVXJpZ2h03RYXGBkaGxwdHh8gIQs3Iz4l
	IyMmJ0EnKiYrEBQJCIAICIAEV2JpZ2xlZnTdFhcYGRobHB0eHyAhCyojRiUjSCYnSicq
	JisQFQkQBgiACgiABFpzbWFsbHJpZ2h03RYXGBkaGxwdHh8gIQsqI08lIyMmJ1InKiYr
	EAMJCIAMCIAEWmZ1bGxzY3JlZW7dFhcYGRobHB0eHyAhC1dYKiUjWCYnWydXJisQCBAB
	CQiADgiABFZjZW50ZXLSLi9gYaNhYjJeTlNNdXRhYmxlQXJyYXlXTlNBcnJheRIAAYag
	XxAPTlNLZXllZEFyY2hpdmVyAAgAEQAWAB8AKAAyADUAOgA8AE8AVQBaAGEAbABuAHUA
	dwB5AHsAfQB/AIEAnACxAMUA0gDaAOgA/wELARYBHgElATcBQAFCAUQBRgFHAUkBSgFM
	AU0BTwFRAVYBWwFkAW8BcgF7AYQBjQGoAaoBqwGtAa4BsAGxAbMBuQHUAdYB1wHYAdoB
	2wHdAeUCAAICAgMCBQIGAggCCQILAhYCMQIzAjQCNQI3AjgCOgJFAmACYgJkAmUCZgJo
	AmkCawJyAncCewKKApIClwAAAAAAAAIBAAAAAAAAAGUAAAAAAAAAAAAAAAAAAAKp
	</data>
	<key>useDefaultGrid</key>
	<true/>
	<key>useGlobalHotkey</key>
	<true/>
</dict>
</plist>
